<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic"
                 initializeData="FileLogWriter"
                 location="Custom"
                 customLocation="C:\Logs\"
                 traceOutputOptions="DateTime, Timestamp" />
		</sharedListeners>
	</system.diagnostics>
</configuration>